*{
    padding: 0%;
    margin: 0%;

}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
}
div{
    height: 20px;
    width: 20px0;
    background-color: black;
    border-radius: 5px;
    border-color: blue;
    border: solid 2px 

}