*{
    padding: 0%;
    margin: 0%;

}
html,body{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
/*button{
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;

}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
button:active{
    background-color: white;
    color: black;
    border: 1px solid black;
}
button:visited{
    background-color: red;
}
p{
    font-size: 20px;
    color: black;
}
p:active{
    color: black;
}   
p:visited{
    color: red;
}*/
/*h1{
    font-size: 25px;
    color: black;
}

.yellow{
    color: yellow;
}

.cred{
    color: red important; 
}

.cpurple{
    color: purple;
}*/

.navbar{
    background-color: orange;
    padding: 30px 15px;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    color: white;
    font-size: 35px;
    font-weight: 500;
    color: white;
}

ul{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
    flex-wrap: nowrap;
}

li{
    list-style: none;
    display: inline-block;
}

ul a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

ul a:hover{
    text-decoration: underline;
}

button{
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

button a{
    text-decoration: none;
    color: black;
}

button:hover{
    background-color: green;
}
