*{
    padding: 0%;
    margin: 0%;

}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
}
/*button{
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;

}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
button:active{
    background-color: white;
    color: black;
    border: 1px solid black;
}
button:visited{
    background-color: red;
}
p{
    font-size: 20px;
    color: black;
}
p:active{
    color: black;
}   
p:visited{
    color: red;
}*/
h1{
    font-size: 25px;
    color: black;
}

.yellow{
    color: yellow;
}

.cred{
    color: red important; 
}

.cpurple{
    color: purple;
}
